<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohho.valetparking.domains.parking.repository.ExitMapper">

    <insert id="registerExit"  parameterType="com.ohho.valetparking.domains.parking.domain.entity.Exit">
        INSERT INTO `exit_request`
                (`parking_id`,
                `requester_id`,
                `type`)
        VALUES
             (
                 #{memberId},
                 #{parkingRecordId},
                 #{exitType}
             )
    </insert>

    <select id="getExitRequestList"  resultType="com.ohho.valetparking.domains.parking.domain.entity.ExitForRead">
        SELECT a.id as exit_reqeust_id
               , d.car_number
               , a.`type`
               , d.parking_area
        FROM exit_request a LEFT OUTER JOIN exit_approve b
                                on a.id = b.exit_request_id
                            LEFT OUTER JOIN parking_record c
                                on a.parking_id = c.id
                            LEFT OUTER JOIN ticket d
                                on d.id = c.ticket_id
    </select>

</mapper>