<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohho.valetparking.domains.parking.repository.ParkingMapper">

    <!-- 입차중인 차량 조회 시 입차시간과 출차시간이 같다는 조건이 필요하다. -->
    <insert id="parkingRegister"  parameterType="hashmap">
        INSERT INTO `parking_record`(
                            `member_id`,
                            `ticket_id`,
                            `vip_id`,
                            `entrance_at`,
                            `exit_at`,
                            `status`
        )
        VALUES(
                        #{managerId}
                        ,#{ticketId}
                        ,#{vipId}
                        ,NOW()
                        ,NOW()
                        ,0
        )
    </insert>

    <select id="getParkingCount" resultType="com.ohho.valetparking.domains.parking.entity.ParkingCount">
        SELECT B.parking_area, COUNT(B.parking_area) as car_count
        FROM (
            SELECT CASE
                WHEN ticket.parking_area LIKE 'B%'
                THEN SUBSTRING(ticket.parking_area,1,1)
                ELSE ticket.parking_area
                END AS parking_area
            FROM parking_record parkingrecord
                            INNER JOIN ticket ticket
                                    ON parkingrecord.ticket_id = ticket.id
            WHERE parking_area IS NOT NULL
            AND parkingrecord.status = 0
        ) B
        GROUP BY B.parking_area
    </select>

    <select id="getParkingRecordList" resultType="com.ohho.valetparking.domains.parking.entity.Parking">
        SELECT
            pr.id as parking_id
            ,v.name as vip_name
            ,t.ticket_number
            ,t.car_number
            ,t.parking_area
            ,pr.entrance_at
            ,pr.exit_at
            ,pr.status
        FROM parking_record pr LEFT OUTER JOIN ticket t
                     ON pr.ticket_id = t.id
                                LEFT OUTER JOIN vip v
                     ON pr.vip_id = v.id
        ORDER BY entrance_at
    </select>


</mapper>