<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohho.valetparking.domains.parking.repository.TicketMapper">

    <insert id="ticketRegister"  parameterType="com.ohho.valetparking.domains.parking.domain.entity.Ticket">

        INSERT INTO  ticket 
                        ( ticket_number ,
                         car_number ,
                         parking_area ,
                         customer_name )
        VALUES(
                        #{ticketNumber}
                        ,#{carNumber}
                        ,#{parkingArea}
                        ,#{customerName}
        )

    </insert>


    <select id="getTicketId" parameterType="int" resultType="long">
        SELECT id
        FROM ticket
        WHERE ticket_number = #{ ticketNumber }
    </select>

    <select id="doubleCheck" parameterType="int" resultType="boolean">
        SELECT EXISTS (SELECT *
                            FROM ticket
                        WHERE ticket_number = #{ ticketNumber }
                        )
    </select>

</mapper>