<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohho.valetparking.domains.member.repository.MemberMapper">
    <!-- insert section -->
    <insert id="newUserJoin"  parameterType="com.ohho.valetparking.domains.member.domain.entity.Join">

        INSERT INTO users (
                nickname
                , email
                , `password`
                , department)
        VALUES(
                #{nickname}
                ,#{email}
                ,#{password}
                ,#{department}
        )

    </insert>

    <insert id="newAdminJoin"  parameterType="com.ohho.valetparking.domains.member.domain.entity.Join">

        INSERT INTO admins (
                nickname
                , email
                , `password`
                , department)
        VALUES(
                #{nickname}
                ,#{email}
                ,#{password}
                ,#{department}
        )

    </insert>

    <insert id="recordSignInHistory"  parameterType="com.ohho.valetparking.domains.member.domain.entity.LoginHistory">
        INSERT INTO login_history(
            users_id
            ,admin_yn
            ,login_at
        )
        VALUES(
            #{id}
            , #{isAdmin}
            , now()
        )
    </insert>

    <!-- select section -->
    <select id="mailCheck" parameterType="string" resultType="boolean">
        SELECT EXISTS(
                    SELECT *
                    FROM(
                        SELECT email
                                FROM users
                                UNION ALL
                                SELECT email
                                FROM admins) AS x
                    WHERE email = #{email}
        )
    </select>

    <select id="isAdmin" parameterType="string" resultType="boolean">
        SELECT EXISTS(
                    SELECT *
                        FROM admins
                    WHERE email = #{email}
                    )
    </select>

    <select id="getMemberByEmail" parameterType="string" resultType="com.ohho.valetparking.domains.member.domain.entity.Member">
        SELECT x.id, x.nickname, x.email, x.password, x.department
            FROM(
            SELECT *
                FROM users
            WHERE email = #{email}
            UNION ALL
            SELECT *
                FROM admins
            WHERE email = #{email}) AS x
    </select>

    <select id="getAdminId" parameterType="string" resultType="long">
        SELECT id
            FROM admins
        WHERE email = #{email}
    </select>

    <select id="getMemberId" parameterType="string" resultType="long">
        SELECT id
            FROM users
        WHERE email = #{email}
    </select>

    <select id="userList" resultType="com.ohho.valetparking.domains.member.domain.entity.User">
        SELECT id,nickname,email,department,activated
        FROM users
        WHERE DATE(signout_at) = "9999-12-31 00:00:00"
        AND department != 0
    </select>


    <select id="getVip" parameterType="string" resultType="com.ohho.valetparking.domains.member.domain.entity.Vip">
        SELECT `id`, `name`, `car_number`, `type`, `uniqueness`
            FROM vip
        WHERE name like  CONCAT('%', #{vipName}, '%')
    </select>

</mapper>